@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}

.card {
  background-color: black;
  padding: 5%;
  color: hsla(54, 100%, 56.1%, 1);
  border-color: hsla(54, 100%, 56.1%, 1);
  border-style: solid;
  margin-bottom: 1%;
}

.text {
  color: hsla(54, 100%, 56.1%, 1);
  text-shadow: 2px 0 0 #000,
               -2px 0 0 #000,
               0 2px 0 #000,
               0 -2px 0 #000,
               1px 1px #000,
               -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000;
}

/* Button */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 100);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: hsla(54, 100%, 56.1%, 1);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* input */
.filter {
  margin-right: 10%;
  width: 50%;
  height: 50px;
  background-color: #000;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  border: None;
}
